:root{
    --dingo:#333;
    --index:0;
    --percentage: 100%;
    --slide-container-quantity:7;
    --child-opacity:0;
    --margin:clamp(1.5rem,3vw,3rem);
}
*,*::after,*::before{
    box-sizing: border-box;
}
.slider-main-container{

    overflow: hidden;
    position: relative;
    
}
.slider-container{
    margin-left: var(--margin);
    margin-right: var(--margin);
    
}
.slider{
    --items-on-screen:6;
    display: flex;
    width: calc(100%*var(--slide-container-quantity));
    margin-left: -100%;
}
.slides-container{
    display: flex;
    width: 100%;
}
.slides-container  .slide{
    flex: 0 0 calc(100%/var(--items-on-screen));
    width: calc(100%/var(--items-on-screen));
    aspect-ratio: 16 / 9;
    padding: .1rem;
    border-radius: 4px;
    
}
.slide > img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
}

.slider-main-container:hover .btn .icon{
    display: inline;
    
}
.slider-main-container:hover .bars{
    opacity: 1;
}
.left{
    left: 0;
}

.right{
    right: 0;
}
.btn{
    position: absolute;
    z-index: 1;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    border: none;
    outline: none;
    width:var(--margin);/*aqui*/
    border-radius:4px;    
    cursor: pointer;
    font-size: 2rem;

}
.icon{
    display: none;
    font-size: clamp(1.5rem,3vw,2rem);
}
.btn:hover{
    background-color: rgba(0,0,0,.4);
    cursor: pointer;

}
.btn:hover .icon{
    transform: scale(1.2);
}
.bars{
    display: flex;
    justify-content: flex-end;
    margin-right: var(--margin);/*aqui*/
    margin-bottom: .5rem;
    opacity: 0;
    
}
.bar{
    width: 12px;
    height: 1px;
    background-color: rgba(255,255,255,.4);
    margin: 1px;
}

.infinite{
    transform: translateX(2400%);
}

.bar.active{
    background-color: white;
}

.slides-container:nth-child(1){
    opacity: var(--child-opacity);
    
}

@media (max-width:1400px){
    .slider{
        --items-on-screen:5;
    }
}

@media (max-width:1100px){
    .slider{
        --items-on-screen:4;
    }
}

@media (max-width:800px){
    .slider{
        --items-on-screen:3;
    }
}

@media (max-width:500px){
    .slider{
        --items-on-screen:2;
    }
}


/* .slides-container:nth-child(1){
    opacity: 0;
    
} */

/* :root{
    --dingo:#333;
    --index:0;
    --items-on-screen:6;
    --percentage: 100%
}
*,*::after,*::before{
    box-sizing: border-box;
}
.slider-main-container{
    overflow: hidden;    position: relative;
}
.slider-container{
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}

.slider{
    display: flex;
    width: calc(100%*7);
    transition: 1s;

}
.slides-container{
    display: flex;
    width: 100%;


}

.slide{
    width: calc(100%/6);
    aspect-ratio: 16 / 9;
    padding: .1rem;
    border-radius:4px;
}

.slide > img{
    height: 100%;
    width: 100%;
    border-radius:4px;
    object-fit: cover;
}

.btn{
    position: absolute;
    z-index: 1;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    border: none;
    outline: none;
    width:3.5rem;
    border-radius:4px;    
    cursor: pointer;

}

.prev{
    left: 0;
}
.next{
    right: 0;
} */